<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.backrer.backed.mapper.DistributionsMapper">

    <resultMap id="BaseResultMap" type="site.backrer.backed.entity.Distributions">
            <id property="distributionId" column="distribution_id" />
            <result property="activityId" column="activity_id" />
            <result property="recipientId" column="recipient_id" />
            <result property="donationType" column="donation_type" />
            <result property="itemDonationId" column="item_donation_id" />
            <result property="moneyDonationId" column="money_donation_id" />
            <result property="distributedQuantity" column="distributed_quantity" />
            <result property="distributedAmount" column="distributed_amount" />
            <result property="distributionTime" column="distribution_time" />
            <result property="approvalStatus" column="approval_status" />
            <result property="reviewedBy" column="reviewed_by" />
            <result property="reviewedAt" column="reviewed_at" />
    </resultMap>

    <sql id="Base_Column_List">
        distribution_id,activity_id,recipient_id,donation_type,item_donation_id,money_donation_id,
        distributed_quantity,distributed_amount,distribution_time,approval_status,reviewed_by,
        reviewed_at
    </sql>
</mapper>
